.App-logo {
  height: 80px;
}

.App-header {
  background-color: #dfefff;
  height: 100px;
  padding: 20px;
}

.App-main, .App-header {
  text-align: center;
}

.App-main, .App-intro {
  font-size: large;
  padding-left: 20px;
}
